<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="margin-20">
        <h4>Tambahkan Kontingen</h4>
      </div>

      <form [formGroup]="myForm" novalidate>
        <div formArrayName="peserta">
          <div *ngFor="let pesert of myForm.controls.peserta.controls; let i=index" class="panel panel-default">
            <div class="animated fadeIn">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-6">
                      <b>Kontingen {{i+1}}</b>
                    </div>
                    <div class="col-md-6">
                      <span *ngIf="myForm.controls.peserta.controls.length > 1" (click)="removePeserta(i)"><i class="fa fa-close pull-right"></i></span>
                    </div>
                  </div>
                </div>
                <div class="card-block" [formGroupName]="i">
                  <!-- <app-kontingen [group]="myForm.controls.peserta.controls[i]"></app-kontingen> -->
                  <div class="form-group col-xs-6">
                    <label>Nama</label>
                    <input type="text" class="form-control" formControlName="nama" [readonly]="isFieldDisabled[i+1]">
                    <small [hidden]="myForm.controls.peserta.controls[i].controls.nama.valid" class="text-danger">
                      Nama perlu diisi
                    </small>
                  </div>

                  <div class="form-group col-xs-6">
                    <label>NIM</label>
                    <input type="text" class="form-control" formControlName="nim" [readonly]="isFieldDisabled[i+1]">
                    <small [hidden]="myForm.controls.peserta.controls[i].controls.nim.valid" class="text-danger">
                      NIM perlu diisi
                    </small>
                  </div>

                  <div class="margin-20">
                    <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.controls.peserta.controls[i].valid" (click)="onSubmit(myForm, i); $event.preventDefault()">Submit</button>
                    <span class="badge badge-success" [ngClass]="{ 'displayClass' : myForm.value.peserta[i].statusShow }"> Sukses </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <a (click)="addPeserta()" style="cursor:pointer;">Add Peserta +</a>
        </div>

      </form>

    </div>
  </div>
</div>
