<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
      <li style="margin-right: 15px; " class="text-muted">
        {{roleDepan}}
      </li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
  <!-- nabar Penanggung jawab-->
    <nav class="sidebar-nav" *ngIf="role== 'penanggungjawab' ">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Pendaftaran
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> Olahraga</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pendaftaran/olahraga/sepakbola',1]"><i class="icon-puzzle"></i> Sepakbola</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pendaftaran/olahraga/basket',2]"><i class="icon-puzzle"></i> Basket</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pendaftaran/olahraga/voli',3]"><i class="icon-puzzle"></i> Voli</a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i> Seni</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pendaftaran/seni/vocalgroup',1]"><i class="icon-star"></i> Vocal Group</a>
            </li>
          </ul>
        </li>
              
        <li class="nav-title">
          USER
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="logout()"><i class="icon-logout"></i>Log Out</a>
        </li>        

      </ul>
    </nav>
  <!--  end of navbar Penanggung jawab-->

  <!-- navbar Panitia-->
    <nav class="sidebar-nav" *ngIf="role== 'panitia' ">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Verifikasi
        </li>
        <li class="nav-item nav-dropdown" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-star"></i>Peserta</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/login']"><i class="icon-star"></i> Verifikasi Tingkat Akhir</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']"><i class="icon-star"></i> Peserta Terverifikasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/404']"><i class="icon-star"></i>Verifikasi Peserta</a>
            </li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          USER
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="logout()"><i class="icon-logout"></i>Log Out</a>
        </li>        

      </ul>
    </nav>
  <!--  end of navbar Panitia-->  
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn btn-secondary" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
        </div>
      </li>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>

</div>

<footer class="app-footer">
  <a href="http://coreui.io">Parhan, Reza, Miqdad</a> &copy; 2017 WeTry.
  <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span>
</footer>
