<div class="animated fadeIn">
  <div class="row">

    <div class="col-sm-6 col-lg-3" *ngIf="role== 'panitia' ">
      <div class="card card-inverse card-primary">
        <div class="card-block pb-0">
          <div class="btn-group float-right" dropdown>
          </div>
          <h4 class="mb-0">{{ jumlahParticpants }}</h4>
          <p>Kontingen yang terdaftar</p>
        </div>
       <!--  <div class="chart-wrapper px-3" style="height:70px;">
          <canvas baseChart class="chart"
          [datasets]="lineChart1Data"
          [labels]="lineChart1Labels"
          [options]="lineChart1Options"
          [colors]="lineChart1Colours"
          [legend]="lineChart1Legend"
          [chartType]="lineChart1Type"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div> -->
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3" *ngIf="role== 'panitia' ">
      <div class="card card-inverse card-info">
        <div class="card-block pb-0">
          <h4 class="mb-0">{{ jumlahParticpantsVerified }}</h4>
          <p>Kontingen lolos verifikasi</p>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3" *ngIf="role== 'penanggungjawab' ">
      <div class="card card-inverse card-warning">
        <div class="card-block pb-0">
          <div class="btn-group float-right">
          </div>
          <h4 class="mb-0">{{peringkat}}</h4>
          <p>Peringkat</p>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Peringkat</h4>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>
