<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="margin-20">
        <div class="judul">
          <h4>Tambahkan Kontingen</h4>
            <!-- <div class="row col-md-6">
            <div class="form-group">
              <label for="sel1">Cabang:</label>
              <select class="form-control" id="sel1">
              <option>putra</option>
              <option>putri</option>
              </select>
            </div>
            </div> -->
        </div>
      </div>
<!--   <button type="button" (click)="cek()" class="btn btn-primary">test jwt</button> --> 
      <form [formGroup]="myForm" novalidate >
        <div class="panel panel-default">
          <div class="animated fadeIn">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-12">
                    <b>Kontingen</b> <a href="javascript:void(0)" ><i class="fa fa-refresh pull-right" aria-hidden="true" (click)="refreshForm()"></i></a>

                  </div>
                </div>
              </div>

              <div class="card-block">
                <!-- <app-kontingen [group]="myForm.controls.peserta.controls[i]"></app-kontingen> -->
                <span *ngIf="checkingNim" class="badge badge-success">Data Mahasiswa Sudah Tersedia</span>                 
                <div [hidden]= "checkingNim==null" class="form-group col-xs-6">
                  <label>Nama</label>
                  <input type="text" class="form-control" formControlName="nama">

                </div>

                <div class="form-group col-xs-6">
                  <label>NIM</label>
                  <input type="text" class="form-control" formControlName="nim" >
                </div>
                  
                <div [hidden]= "checkingNim==null" class="form-group col-xs-6">
                  <label>No Hp</label>
                  <input type="text" class="form-control" formControlName="noHp" pattern='^\+?\d{0,13}' >
                  <small *ngIf="!checkingNim" [hidden]="myForm.controls.noHp.valid" class="text-danger">
                    No hp harus valid 
                  </small>
                </div>

                <button [hidden]= "checkingNim!=null" type="button" class="btn btn-primary pull-right" (click)="checkNim(myForm.value.nim)" >Lanjut</button> 
                
                <div [hidden]= "checkingNim==null">
                  <div class="form-group col-xs-6">
                    <label>Photo & photoKTM</label>
                    <div >
                      <a *ngIf="checkingNim" href="javascript:void(0)" class="thumbnail">
                        <img *ngFor="let item of albumReja; let i = index "  class="img-thumbnail" src ={{albumReja[i].src}} width="104" height="36" (click)="openHAHA(albumReja,i )">
                      </a>   

                    </div>                      
                    <input *ngIf="!checkingNim"  type="file" (change)="fileChangeEvent($event,1)" class="form-control" name="photo" accept="image/x-png,image/jpeg" multiple />
                    <small *ngIf="!checkingNim" [hidden]="fileValid" class="text-danger">
                        *Maximimum 3 MB &nbsp;
                        *Jpeg, jpg atau png. &nbsp;
                        *2 File yang harus diupload
                    </small>
                  </div>
 
                </div>                
                
                <div class="progress" *ngIf="submitted && uploadProgress!=100 " >
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress/100)*100 + '%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{uploadProgress}} %
                    </div>
                </div><br>
                <div  class="margin-20">
                  <button *ngIf="!checkingNim" [hidden]="checkingNim==null" type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid && !fileValid" (click)="submit(); $event.preventDefault()">Submit wf</button>

                  <!-- yang ga perlu file valid -->
                  <button *ngIf="checkingNim" type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid && fileValid" (click)="submit(); $event.preventDefault()">Submit</button>                                    
                </div>         

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>


  <!-- tables -->
  <div class="row" *ngIf="listPeserta.toString().length>0">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Daftar Kontingen</strong>
        </div>
        <div class="card-block">
          <table class="table table-responsive" style="overflow-x: scroll; overflow: auto">
            <thead>
              <tr>
                <th>No</th>
                <th>Nama</th>
                <th>NIM</th>
                <th>No Hp</th>
                <th>Foto</th>
                <th>Status</th>
              </tr>
            </thead>


            <tbody > 
              <tr *ngFor="let list of listPeserta; let i = index ">
                <td>{{ i+1 }}</td>
                <td>{{ list.mahasiswa.nama_mahasiswa }}</td>
                <td>{{ list.mahasiswa.NIM_mahasiswa }}</td>
                <td>{{ list.noHP_peserta}}</td>                
                <td>
                  <a href="javascript:void(0)" class="thumbnail">
                    <img class="img-thumbnail" src = {{list.album[0].src}} width="104" height="36" (click)="openHAHA(list.album,0 )">
                  </a>
                  <a href="javascript:void(0)" class="thumbnail">
                    <img class="img-thumbnail" src = {{list.album[1].src}} width="104" height="36" (click)="openHAHA(list.album,1)">
                  </a>                  
                </td>
                <td>  <span *ngIf="list.status_peserta==0" class="badge badge-warning">Uncheck</span>
                      <span *ngIf="list.status_peserta==1" class="badge badge-danger">Unverified</span>
                      <span *ngIf="list.status_peserta==2" class="badge badge-success">Verified</span>                      
                </td>
                <td>
<!--                   <span class="badge badge-success">Verified</span> -->
                  <span><a href="javascript:void(0)" (click)="deletePeserta(list.id)" ><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a> </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <span><a href="javascript:void(0)" (click)="openModal()" ><i class="fa fa-pencil-square-o" aria-hidden="true"> Update</i></a> </span>
                </td>
                <button id="openModalButton" data-toggle="modal" data-target="#myModal">Open Modal</button>
              </tr>
            </tbody>

<!--             <ng-template #elseBlock >
              <h5 style="text-align: center; color: red">*Belum ada peserta yang masuk</h5>
            </ng-template> -->
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

    <!-- Modal -->
  <div  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update Informasi Mahasiswa</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="myFormUpdate" novalidate>
          <div class="modal-body">
            <div class="form-group col-xs-6">
              <label>Nama</label>
              <input type="text" class="form-control" formControlName="namaUpdate" >
            </div>
            
            <div class="form-group col-xs-6">
              <label>NIM</label>
              <input type="text" class="form-control" formControlName="nimUpdate" >
            </div>
            
            <div class="form-group col-xs-6">
              <label>No Hp</label>
              <input type="text" class="form-control" formControlName="noHpUpdate" pattern='^\+?\d{0,13}' >
              <small [hidden]="myFormUpdate.controls.noHpUpdate.valid" class="text-danger">
                No hp harus valid 
              </small>
            </div>

            <div class="form-group col-xs-6">
              <label>Photo & photoKTM</label>        
              <input type="file" class="form-control" name="photo" accept="image/x-png,image/jpeg" multiple (change)="fileChangeEvent($event, 2)" />
              <small [hidden]="fileValidUpdate" class="text-danger">
                  *Maximimum 3 MB &nbsp;
                  *Jpeg, jpg atau png. &nbsp;
                  *2 File yang harus diupload
              </small>
            </div>
                                    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
            <button type="button" class="btn btn-primary" (click)="updatePeserta()">Save changes</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->  

<!--   <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
  <button (click)="openModal('custom-modal-2')">Open Modal 2</button>

  <modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: Test;
            </p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>

<modal id="custom-modal-2">
    <div class="modal">
        <div class="modal-body">
            <h1 style="height:1000px">A Tall Custom Modal!</h1>
            <button (click)="closeModal('custom-modal-2');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal> -->